.flex {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.material-card-height {
  min-height: 15vh;
}

.materials {
  width: 50vw;
}

.material-margin {
  margin-top: 30px;
}
