<div class="login-form">
  <div class="text-center">
    <h2>Log In</h2>
  </div>
  <form class="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <p>
      <mat-form-field appearance="fill" class="full-width-input">
        <mat-label>Input your username</mat-label>
        <input matInput
               id="username"
               name="username"
               placeholder="Username"
               formControlName="email">
        <mat-icon matPrefix>person</mat-icon>
        <mat-error *ngIf="f.email.invalid && f.email.touched">You must input a valid username.</mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill" class="full-width-input">
        <mat-label>Input your password</mat-label>
        <input matInput
               class="input-lg"
               type="password"
               id="password"
               name="password"
               placeholder="Password"
               formControlName="password">
        <mat-icon matPrefix>lock</mat-icon>
        <mat-error *ngIf="f.password.invalid && f.password.touched">You must input a valid password.</mat-error>
      </mat-form-field>
    </p>
    <hr>

    <div class="flex">
      <button mat-flat-button color="accent" type="submit">Log In</button>
      <button mat-flat-button color="primary" >Forgot Password</button>
    </div>

    <hr>

  </form>
</div>
