<div class="bg-img">
<div class="toolbar" role="banner">
  <div class="flex-l"></div>
  <a class="link-style flex-c" routerLink="/courses">
  <div>
  <span>
    <mat-icon>school</mat-icon>
  </span>
    School Material Exchange
  </div>
  </a>
  <div class="flex-r">
    <span *ngIf="user?.username">Welcome {{user.username}}</span>
    <app-menu [user]="user"></app-menu>
  </div>
</div>

<div class="default-page-flex" role="main">
  <router-outlet></router-outlet>

  <footer>
  </footer>

</div>
</div>
