<div class="">
<div class="toolbar" role="banner">
  <a class="link-style flex-c" routerLink="/">
  <div>
  <span>
    <mat-icon>school</mat-icon>
  </span>
    School Material Exchange
  </div>
  </a>

</div>
  <div class="position-name-menu">
    <span *ngIf="user?.username">Welcome {{user.username}}</span>
    <app-menu [user]="user"></app-menu>
  </div>
<div class="default-page-flex" role="main">
  <router-outlet></router-outlet>

  <footer>
  </footer>

</div>
</div>
<notifier-container></notifier-container>
