@import "src/assets/_variables";
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: $primary;
  color: white;
  font-weight: 600;
  font-size: larger;
  justify-content: center;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

.push {
  margin-left: auto;
}
.link-style {
  color:white;
  text-decoration: none;
}

.flex-l {
  flex-grow: 3;
}

.flex-c {
  flex-grow :4;
}

.flex-r {
  flex-grow: 2;
  text-align: end;
}


@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);


.wrapper{
  background: #50a3a2;
  background: linear-gradient(to bottom right, $primary 0%, $primary-2 100%);

  position: absolute;
  top:60px;
  left: 0;
  width: 100%;
  min-height: 100vh;
  //margin-top: -200px;
  overflow: hidden;
}

.container{
  margin: 0 auto;
  //padding: 80px 0;
  text-align: center;
}

.bg-bubbles{
  //position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1;

  li{
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: white;
    opacity: 15%;
    bottom: -160px;

    animation: square 25s infinite;
    transition-timing-function: linear;

    &:nth-child(1){
      left: 10%;
    }

    &:nth-child(2){
      left: 20%;

      width: 80px;
      height: 80px;

      animation-delay: 2s;
      animation-duration: 17s;
    }

    &:nth-child(3){
      left: 25%;
      animation-delay: 4s;
    }

    &:nth-child(4){
      left: 75%;
      width: 60px;
      height: 60px;

      animation-duration: 22s;

      background-color: white;
      opacity: 25%;
    }

    &:nth-child(5){
      left: 70%;
    }

    &:nth-child(6){
      left: 80%;
      width: 120px;
      height: 120px;

      animation-delay: 3s;
      background-color: white;
      opacity: 20%;
    }

    &:nth-child(7){
      left: 15%;
      width: 160px;
      height: 160px;

      animation-delay: 7s;
    }

    &:nth-child(8){
      left: 65%;
      width: 20px;
      height: 20px;

      animation-delay: 15s;
      animation-duration: 40s;
    }

    &:nth-child(9){
      left: 10%;
      width: 10px;
      height: 10px;

      animation-delay: 2s;
      animation-duration: 40s;
      background-color: white;
      opacity: 30%;
    }

    &:nth-child(10){
      left: 90%;
      width: 160px;
      height: 160px;

      animation-delay: 11s;
    }
  }
}

@keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-400vh) rotate(600deg); }
}
