<div class="bg-img">
<div class="toolbar" role="banner">
  <div class="push"></div>
  <a class="link-style" routerLink="/">
  <div>
  <span>
    <mat-icon>school</mat-icon>
  </span>
    School Material Exchange
  </div>
  </a>
  <div class="push">
    <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>

  <footer>
  </footer>

</div>
</div>
